# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/
DerivedData/
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.profraw
*.profdata
coverage.xml

# Misc
.env
.env.local

